<h2>Altere a sua senha</h2>

<%= form_for @user, url: "update_password", html: {role: "form"} do |f| %>

  <div class="form-group">

	<%= f.label :password, "Senha" %>
	<%= f.password_field :password, class: 'form-control' %>

	<%= f.label :password_confirmation, "Confirme a senha" %>
	<%= f.password_field :password_confirmation, class: 'form-control' %>

	<p></p>
	<%= f.submit "Alterar senha", class: 'form-group' %>

  </div>

<% end %>

