<%= form_for @user, html: {role: "form"} do |f| %>

<div class="form-group">

	<%= f.label :password %>
	<%= f.password_field :password, class: 'form-control' %>

	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation, class: 'form-control' %>

	<p></p>
	<%= f.submit "Salvar", class: 'form-group' %>

</div>

<% end %>
