<h2>Cadastro de Usuários</h2>

<%= form_for @user, html: {role: "form"} do |f| %>

<div class="form-group">

	<%= f.label :nome %>
	<%= f.text_field :nome, class: 'form-control' %>

	<%= f.label :email %>
	<%= f.text_field :email, class: 'form-control' %>

	<%= f.label :telefone %>
	<%= f.text_field :telefone, class: 'form-control' %>

	<%= f.label :password %>
	<%= f.password_field :password, class: 'form-control' %>

	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation, class: 'form-control' %>

	<p></p>
	<%= f.submit "Salvar", class: 'form-group' %>

</div>

<% end %>

<%= link_to 'Voltar', users_path %>