<p id="notice"><%= notice %></p>

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Cliente</strong> >> <%= @client.id %> 
	</div>
	<div class="panel-body">
		<strong>Nome: </strong><%= @client.nome %> <br>
		<strong>Razão Social: </strong><%= @client.razaosocial %> <br>
		<strong>Endereço: </strong><%= @client.endereco %>, <%= @client.numero %> <br>
		<strong>Complemento: </strong><%= @client.complemento %>  <strong>Bairro: </strong><%= @client.bairro %> <br>
		<strong>Cidade: </strong><%= @client.cidade %>-<% @client.uf %><br>
		<strong>Contato:</strong><%= @client.contato %>  <strong>Advogado:</strong><%= @client.advogado %> <br>
		<strong>E-mail:</strong><%= @client.email %>  <strong>Telefones:</strong><%= @client.tel1 %> / <%= @client.tel2 %>

	</div>
</div>

<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Voltar', clients_path %>
